@

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* Nav */

nav  {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-between;
    padding: 0px 16px;
    border-color: transparent;
}

li {
    list-style-type: none;
    padding-left: 16px;
}
.nav_button_wrapper {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;

}

.logo__image {
    display: flex;
    align-items: center;
}
.logo__image--words{
    height: 25pxx
;
    color:inherit ;
    text-decoration: inherit;
    line-height: 36px;



    
}